#text-header:hover{
    color: brown;
    cursor: pointer;
}

body {
    font-family: Arial, menlo;
    background-color: #add8e6;
    margin: 0;
    padding: 0;
  }
  
  img {
    width: 100px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
  }
  
  p.username {
    font-weight: bold;
  }
  