#text-header:hover{
    color: brown;
    cursor: pointer;
}

body {
    font-family: Adilson Gonzales de Oliveira Junior, menlo;
    margin: 0;
    padding: 0;
    background-image: url('/images/famy-ava.jpeg');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
  
.img {
    width: 100px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
  }
  
  p.username {
    font-weight: bold;
  }
  