.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  background-color: transparent;
  gap: 10px;
  padding: 0px 50px;
  margin-top: 5px;
  a {
    color: red;
    text-decoration: none;
    opacity: 80%;
  }
  a:hover {
    opacity: 100%;
  }
  .active {
    background-color: gray;
    opacity: 100%;
    padding: 5px 10px;
    border-radius: 6px;
  }
}

.taut {
  text-decoration: none;
  taut:hover {
    opacity: 80%;
    text-decoration: underline;
  }
}
